<h2>プラグインのインストール</h2>
<%= form_for :plugin_adaptation, url: new_plugin_adaptation_path do |f| %>
<p>
<%= f.label :command, "コマンド" %>
<%= f.text_field :command, :placeholder => 'git clone https://github.com/onozaty/redmine-view-customize.git plugins/view_customize', :style => 'width:500px;' %>
<%= f.submit('インストール') %>
</p>
<% end %>
